<div class="mx-auto max-w-3xl p-4">
  <h1 class="text-2xl font-bold mb-2"><%= @event.title %></h1>
  <div class="opacity-70 mb-4 text-sm">
    <%= l @event.starts_at, format: :long %>
    <% if @event.ends_at %> - <%= l @event.ends_at, format: :long %><% end %>
    <% if @event.location.present? %> / <%= @event.location %><% end %>
  </div>
  <div class="prose">
    <%= simple_format(@event.notes) %>
  </div>
</div>
